@model IEnumerable<OlindaSharksWeb.Models.SystemUser>

@{
    ViewBag.Titulo = "Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="form-processar-analise">
    <div class="box box-primary" id="panelCollapse">
        <div class="box-body with-border">
            <div class="form-group">
                <table id="grid" class="display table table-bordered table-striped dataTable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                Nome
                            </th>
                            <th>
                                Login
                            </th>
                            <th>
                                Data de Inclusão
                            </th>
                            <th>
                                Data de Atualização
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name) 
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Login)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataInclusao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataAtualizacao)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.box -->
</form>

<!-- /.box -->
@section scripts
{
    

<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
            
    });

  
</script>
}